#name{
    /* display: flex; */
    justify-content: center;
    margin: 0px;
    /* border: solid; */
    border-color: red;
}

#header{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("header-bg.png");
    background-size: cover;
    /* border: solid; */
    /* border-color: blue; */
}

body{
    margin: 0px;
    background-color: black;
}

#logo-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border:solid; */
    border-color: red;
    margin: 0px;
}
#logo{
    width: 50px;
    /* border-style: solid; */
    border-color: green;
}

#project-header{
    margin: 0;
    display: flex;
    /* border: solid; */
    justify-content: center;
}

#projects{
    /* border: solid; */
    border-color: blue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#project1, #project2{
    /* border: solid; */
    border-color: gray;
    object-fit: contain;
    width: 300px;
}

#project1:hover, #project2:hover{
    border: 2px solid gray;
}