#name{
    border: solid;
    border-color: red;
    text-align: center;
}

#header{
    border: solid;
    border-color: blue;
}
/* body{
    background-color: black;
} */

/* p{
    font-style:italic;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

#logo-item{
    /* display: flex; */
    width: 100px;
    align-content: space-evenly;
    border-style: solid;
    border-color: red;
}